<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js">
        </script>
    </head>
    <body>
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h3>
                    Header
                </h3>
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#page1" data-theme="" data-icon="plus" class="ui-btn-active">
                                New
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="star">
                                Popular
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="alert">
                                Recommend
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="gear">
                                About
                            </a>
                        </li>
                    </ul>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="horizontal">
                        <legend>
                            View By:
                        </legend>
                        <input name="radiobuttons1" id="radio1" value="Title" type="radio" />
                        <label for="radio1">
                            Title
                        </label>
                        <input name="radiobuttons1" id="radio2" value="Category" type="radio" />
                        <label for="radio2">
                            Category
                        </label>
                    </fieldset>
                </div>
            </div>
            <div data-role="content">
            </div>
            <div data-theme="a" data-role="footer">
                <h3>
                    Footer
                </h3>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>